#about {
    margin-top: 3em;
    margin-bottom: 3em;
    padding : 1.25em;
    background-color: #455a64;
    color: white;
    border: 2.5px outset #90a4ae;
}

h1 {
    text-align: center;
    font-weight: bold;
    margin: .2em;
    text-shadow: 1.5px 1.5px #263238;
}