* {
    font-family: 'Roboto Slab', serif;
    text-shadow: 1px 1px #263238;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url("./images/background.png");
}

#root {
  flex: 1 0 auto;
}

.image-container {
  text-align: center;
}

.row {
  margin-bottom: 0;
}

a {
  color: white;
}